body {
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}
section {
    /* border: 1px solid black; */
    border-radius: 15px;
    box-sizing: border-box;
    width: 450px;
    margin: auto;
    margin-top: 50px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.72);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.72);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.72);
}
.header {
    background: rgb(22,173,109);
    background: linear-gradient(90deg, rgba(22,173,109,0.7777662090226716) 23%, rgba(9,35,121,0.7525561249890581) 67%, rgba(164,0,255,0.8085785339526436) 100%);
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px 0;
}
.header h1 {
    margin: 0;
    color: white;
}
.main {
    height: 500px;
    background-color: rgb(245, 238, 238);
    overflow-y: auto;
    padding-top: 20px;
}
.main .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 10px 15px;
    margin: 0 30px;
    border-bottom: 1px solid rgb(196, 190, 190);
}
.main .list__delete {
    border: none;
    font-size: 18px;
    outline: none;
}
.main .list i {
    cursor: pointer;
    transition: all ease-in 300ms;
}
.main .list i:hover {
    color: red;
    transform: scale(1.1);
}
input {
    border: none;
    width: 420px;
    font-size: 24px;
    padding:0 15px;
}
input:focus {
    outline: none;
}
.footer {
    background: rgb(22,173,109);
    background: linear-gradient(90deg, rgba(22,173,109,0.7777662090226716) 23%, rgba(9,35,121,0.7525561249890581) 67%, rgba(164,0,255,0.8085785339526436) 100%);
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px 0;
}
.footer__addBtn {
    background-color: black;
    color: white;
    outline: none;
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 28px;
    cursor: pointer;
    transition: all ease-out .5s;
}
.footer__addBtn:hover {
    transform: scale(1.2);
    
}